.nosProducteurs {
    font-family: "fibre";
    font-size: 35px;
    text-align: center;
}
.FicheProducteur {
   font-family: roboto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 8px;
    margin-left: 16px;
    min-width: 230px;
    max-width: 475px;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    color: #111;
    line-height: 1.2em;
    text-align: left;
    border: 1px solid #2ABB6D;
    border-radius: 3px;
}
.image_producteur_principale {
    cursor: pointer;
    max-width: 100%;
    vertical-align: top;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #2ABB6D;
}

.FicheProducteur figcaption {
    display: grid;
    padding: 10px;
    background-color: #f2f2f2;
}

.FicheProducteur .nomFerme{
    grid-column: 1;
    grid-row: 1;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 0 4px;
}

.FicheProducteur .descriptionFerme {
    grid-column: 1;
    grid-row: 2;
    font-size: 1rem;
    font-weight: 200;
    color: #2CC547;
    margin: 0 0 4px;
}

#carteProducteur {
    margin-top: 30px;
    width:100%;
    height:400px
}
/*--------footer----------*/
.lienfooter a {
    color: white;
}

.lienfooter li:hover a {
    color:black;
}

#realfooter {
    background: #2ABB6D;
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 26px;
    color: #fff;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10%;
    bottom: 0;
}

.footer ul {
    list-style-type: none;
    display: grid;
    text-align: center;
}

.footer ul h3 {
    padding-bottom: 10px;
}
