:root{
	--couleur-majeure-vert : #2ABB6D;	
	--couleur-majeure-vert-dark : #1b7e48;	
	--couleur-deux-vert: #2CC547;
	--couleur-trois-vert:#41AE30;
	--couleur-quatre-vert:#76C52C;
	--couleur-cinq-vert:#A2BB2A;
	
	--couleur-majeure-jaune : #F1C40F;	
	--couleur-deux-jaune :  #DAC503;
	--couleur-trois-jaune : #F7F903;
	--couleur-quatre-jaune :  #DA9903;
	--couleur-cinq-jaune :  #F99603;

	--couleur-gris-pale:#f8f8f8;
	--couleur-gris-clair:#EEE;
	
	--couleur-orange-clair:#FF4C39;
	--couleur-orange-dark:#BB382A;
}


.menuLivreur {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-bottom: 40px;
	padding-left: 20px;
	margin-right: ;
}

.bonjour{
	color: #e74c3c;
	margin-top: 19px;
	margin-left: 20px;
	font-family: roboto;
}

.buttonValide{
	color: white;
	background-color: #e74c3c;
	padding-top: 16px;
	margin-left: 20px;
	margin-right: 90px;
	width: 150px;
	height: 62px;
	cursor: pointer;
	text-align: center;
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: roboto;
}

li a:hover, .cmdAPreparer:hover .dropbtn {
    background-color: #e74c3c;
    color: white;
}

.menuLivreur a.active {
    background-color: red;
}

li.livraisonsDuJour {
    display: inline-block;
}

.livraisonsDuJour-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.livraisonsDuJour-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.livraisonsDuJour-content a:hover {background-color: #e74c3c}

.livraisonsDuJour:hover .livraisonsDuJour-content {
    display: block;
}